/*  your css code here. If applicable */
h1{
	text-align:center;
}

h2{
	text-align:center;
}

body{
	background-color: rgb(204, 204, 204);
}

#list{
	background-color:white;
	border:solid;
	padding:30px;
	border-radius:5px;
	list-style-type:none;
}

#img{
	 background-color:white;
	border: solid;
	padding:30px;
	border-radius:5px;
	list-style-type:none;
	
}